/* Elements */
h1 {
    font-family: monospace;
    font-weight: normal;
    line-height: 60px;
    font-size: 40px;
    color: black;
    text-align: center;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: serif;
    font-size: 20px;
    padding-bottom: 0px;;
    font-weight: bold;
    text-align: left;
    position: relative;
}

p {
    /* margin: 0px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: sans-serif;
    color: black;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 10px;
}

a {
    color: green;
    font-weight: bold;
}

li {
    font-family: sans-serif;
    list-style-type: circle;
    font-size: 16px;
}

img {

 display: block;
  margin-left: auto;
  margin-right: auto;

}

/* divs */


.header {
    background-color: white;
    margin: 0px;
    padding: 5px;
}

.header img {
    margin-right: 0;
    margin-top: 0;
}

.information {
    margin: auto;
    background-color: #efefef;
}

/*Tech page grid to show different technologies we are using
.techgrid{
    display: grid;
    grid-template-columns: 200px, 200px;
    grid-gap: 10px;
    justify-items: start;
    background-color: #bbac9d;
    text-align: left;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.tech{
    background-color: green;
    font-size: 150%;
}
    .img1{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .desc1{
        background-color: aqua;
        grid-column-start: 2;
        grid-column-end: 3;
    }

*/

.techtable{
    width: 80%;
    text-align: center;
    border-spacing: 50px;
    border-top: 5px solid black;
    margin-left: 10%;
}

.techimgcell{
    text-align: left;
    margin: auto;
    width: 10%;
    /*border: 8px solid red;*/
}

.techimg{
    display: block;
    width: auto;
    height: 20%;
}

#firebaselogo {
    height: 40%;
    width: auto;
}

.techdesc {
    font-family: sans-serif;
    vertical-align:top;
    padding-top: 40px;
    padding-left: 2%;
    font-size: 18px;
    text-align: left;
}


.navigation {
    
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #333;
}
